@media screen and (max-width: 1023px) {
  .container{
    padding: 0 1em;
  }
  .hero{
    height: auto;
    position: relative;
    overflow: hidden;
    padding: 2em;
  }
  h1{
    font-size: 2em;
    z-index: 2;
  }
  .hero-image{
    position: absolute;
    z-index: 1;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    width: 100%;
  }
  .portfolio{
    padding: 0;
  }
  .event-list-title{
    margin: 0;
  }
}

@media screen and (max-width: 767px) {
  h2{
    font-size: 1.2em;
    margin: .5em 0;
  }
  h3{
    font-size: 1.5em;
  }
  .burguer-button{
    display: block;
  }
  .header {
    display: block;
    height: auto;
  }
  .header ol {
    display: initial;
  }
  .header ol li {
    height: 50px;
  }
  .header a {
    justify-content: center;
    height: 40px;
    font-size: 2em;
    margin-bottom: .5em;
  }
  .header .logo {
    text-align: center;
  }
  .menu{
    position: fixed;
    background: rgba(0,0,0, .7);
    z-index: 3;
    top: 0;
    left: -100vw;
    bottom: 0;
    width: 100vw;
    /* height: 100vh; */
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .3s;
  }
  .menu.is-active{
    left: 0;
  }
  .project {
    display: block;
  }
  .project-imageContainer {
    width: auto;
    height: auto; 
    text-align: center;
  }
  .project-details {
    width: auto;
    font-size: 12px;
  }
  .project-course,
  .project-date,
  .project-url {
    margin: 0.3em 0;
  }
  .project-title {
    font-size: 1.5em;
    margin-bottom: 0.3em;
  }
  .project-url {
    font-size: 1em;
  }
  .project-course {
    font-size: 0.7em;
  }
  .project-date {
    font-size: 1em;
  }
  .project-description {
    font-size: 0.8em;
  }
  .event {
    width: auto;
    flex-shrink: initial;
  }
  .event img {
    width: 100%;
  }
  .event-detail{
    margin: -2em .5em .5em;
    padding: 1em;
  }
  .contact{
    height: auto;
    padding: 1.5em 0;
    text-align: center;
    display: block;
  }
  .form-email h3{
    margin-top: 0;
  }
  .footer{
    display: block;
    text-align: center;
    border: 1px solid transparent;
  }
}

@media screen and (max-width: 480px) {
  h1{
    font-size: 1.5em;
  }
  .project-details {
    font-size: 12px;
    flex-shrink: initial;
  }
  .event-detail {
    margin: -2em 0.5em 0.5em;
    padding: 20px;
  }
}

@media screen and (max-width: 320px) {
  h1{
    font-size: 1.2em;
  }
  .hero{
    padding: 2em 1em;
  }
}
